#thumbnails {
    width: 100%; 
    overflow-x: auto;
    overflow-y: hidden;
}

#thumbnails>figure {
    margin: 2px;
    width: 128px;
    height: 110px;
}

#viewer>button {
    position: absolute;
    top: 50%;
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    /* border-radius: 5px; */
    z-index: 0;
    opacity: 0;
    height: 100%;
}

#viewer>button:hover {
    opacity: 0.5;
}

#viewer>.prev {
    left: 0%;
    transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
}

#viewer>.next {
    right: 0%;
    transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
}
